.room {
  display: inline-flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;

  &__buttons {
    display: flex;
    gap: 10px;
  }
}

@media screen and (width <= 767px) {
  .room {
    width: 100%;
  }
}

@media screen and (width > 767px) {
  .room {
    width: 250px;
  }
}
