@import './vars.scss';

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: inherit;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  pointer-events: none;
}

.toast {
  display: inline-block;
  text-align: center;
  width: fit-content;
  padding: 15px 25px;
  background-color: rgba(100, 148, 237, 0.5);
  backdrop-filter: blur(5px);
  border-radius: $border-radius;
  transition: $transition-duration all ease-out;

  &_enter {
    opacity: 0;
    scale: 0.9;

    &-active {
      opacity: 1;
      scale: 1;
    }
  }

  &_exit {
    opacity: 1;
    scale: 1;

    &-active {
      opacity: 0;
      scale: 0.9;
    }
  }
}
